.card img {
  /* // CONTROLS YOURS DESIRED CARD IMAGE HEIGHT */
  height: 500px;
  max-height: 80%;
  /* // NO MATTER WHAT IMAGE HEIGHT IT WILL SCALE WELL WITHIN THE HEIGHT */
  object-fit: fill;
}
.card card-content {
  max-height: 50%;
  overflow: hidden;
}

.search-tile img {
  height: 100px;
  max-height: 100%;
}

.search-tile {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.search-box label {
  font-size: 16px;
  color: black;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
.tiles-card {
  box-shadow: none;
}
